POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

SECRET_KEY=
API_SUPERUSER_TOKEN=

CRPT_THUMBPRINT=
OMS_ID=
OMS_CONN_ID=
CRPT_SANDBOX=
CRPT_MOCK_MODE=
CRPT_SIGNER_MODE=
CRPT_SIGNER_URL=
CRPT_SIGNER_TOKEN=

GS1_PREFIX=
GS1_EXTENSION_DIGIT=

DEBUG=
ENVIRONMENT=
LABELS_DIR=
LOG_DIR=
LOG_FILE=
